{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#" style="hover">{{user}}</a>
  <div  id="myNavbar" style="align:right;">
      <ul class="nav navbar-nav">
	<li ><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
</nav>
<!--{{ user.password }}-->
<!--<a href = "upload/{{user.password}}"> CLick to upload</a>-->
<br>
<script>function showsfunc(){
this.innerText="safgsrh"
      var request = new XMLHttpRequest();


      request.open('GET', 'http://192.168.43.133:8000/api/listfile.json/', true);

      fetch('http://192.168.43.133/api/listfile.json').then(response => {
  console.log(response.data);
  return response.json();
  }).then(data => {


      if((data.length) != 0){
      if(1!=1){
      document.getElementById("show-schema").style="text-align:center;border:2px solid transparent ;height:75px;vertical-align:middle;font-family:Tauri;background-color:#f7786b;color:white;";
      document.getElementById("show-schema").innerHTML="<br>NULL!!!<br>";}else {
      document.getElementById("show-schema").style="text-align:center;border:2px solid transparent ;height:75px;vertical-align:middle;font-family:Tauri;background-color:#82b74b;color:white;";
      document.getElementById("show-schema").innerHTML="<br>"+data[0]["schema"]+"<br>";
      }
      }
      }).catch(err => {
      });
      request.send();
      }</script>
<div id="show-schema" style="text-align:center;border:2px solid transparent ;height:75px;vertical-align:middle;font-family:Tauri;background-color:white;transition-property: background-color;" onclick="showsfunc()"><br>The schema used is ...<br></div>
<div style="margin-left:auto;margin-right:auto;width:30%;
text-align:center;border:2px solid orange ;height:75px;vertical-align:middle;font-family:Tauri;"><a href="/user/upload"><br>Upload Files</a>
</div><br>
<label for="schema" style="color:blue;margin:0 25px;font-family:Tauri;">Schema</label>
<input type="text" value="" id="schema" style="width: 100%;padding: 2px 25px;margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid"/>
<label for="key" id="12" style="color:blue;margin: 0 25px;font-family:Tauri;">KEY (in Hex) </label>
<input type="text" value="" id="key" style="width: 100%;padding: 2px 25px;margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid"/>
<label for="iv" style="color:blue;margin: 0 25px;font-family:Tauri;">IV (in Hex) </label>
<input type="text" id="iv" value="" style="width: 100%;padding: 2px 25px;margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid"/>
<br>
<!--<label for="file-input" style="margin: 8px 8px;">Upload from local file system</label>-->
<!--<input type="file" id="file-input" />-->

<!--<p id="file-content"></p>-->
<!--<div id="encrypted"></div>-->
<!--<div id="decrypted"></div>-->
<div class="wrapper" style="text-align: center;"><button class="button" id="show" style="background-color: white;
border: 2px solid #f4511e;color: black;
padding: 15px 32px;text-align: center;align=center;
text-decoration: none;display: inline-block;font-family:Tauri;
font-size: 16px;" >Request Files</button></div>
<p style="text-align:center;font-family:Tauri;">Click over the files which you want to see.</p>
<ul id="contain"></ul>
<br><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script type="text/javascript">
var schema="";
var key="";
var iv="";

  function myfunction(){
  if(document.getElementById("contain").hasChildNodes()==true){var myNode = document.getElementById("contain");
while (myNode.firstChild) {
    myNode.removeChild(myNode.firstChild);
}}
  if ((key=="") || (iv=="")){alert("Please fill both key and iv values");}
  else {var request = new XMLHttpRequest();


  request.open('GET', 'http://192.168.43.133:8000/api/listfile.json/', true);

  fetch('http://192.168.43.133:8000/api/listfile.json').then(response => {
  console.log(response.data);
  return response.json();
  }).then(data => {
  // Work with JSON data here
  if((data.length) != 0){
  if(1==1){
      console.log(data[0]["schema"]);
      schema=data[0]["schema"];
      <!--document.getElementById('schema').value=data[0]["schema"];-->
          }
      }
   else {
   schema="AES";
   }
   console.log(schema);
  for (var i = 0; i < data.length; i++) {
		      var lol= document.createElement('li');
		      lol.id=data[i].path;
		      lol.innerText=data[i].path;
		      lol.style="border-bottom: 1px dotted #000;font-family:Text Me One;font-size:150%;";
		      lol.onclick=function(){var x1=this.innerHTML;
		      console.log(x1);

		      var request = new XMLHttpRequest();
		      var urlto="http://192.168.43.133:8000/api/file/"+x1+".json";
		      request.open('GET', urlto, true);

		      fetch(urlto).then(response => {
    return response.json();
    }).then(data => {
    console.log(data);
    // Work with JSON data here
    <!--for (var j = 0; j < data.length; j++) {-->
			if((data["path"]==x1) && (data["isdir"]==false)){
			var info=document.createElement('p');
			info.innerText=x1+" will load here...";
			document.getElementById(x1).appendChild(info);
			console.log("lol")
			var last3=x1.substr(x1.length-3);
			var content =data["docfile"];
			content=content.replace(/(\n)/gm,"");
			var message= CryptoJS.enc.Base64.parse(content);
			<!--//	console.log(contents);-->
			console.log(iv);
			console.log(content);
			var key1=CryptoJS.enc.Hex.parse(key);
			var iv1 = CryptoJS.enc.Hex.parse(iv);
			var decrypted;
			var divin=document.createElement('div');
			console.log(key1);

			divin.class="wrapper";
			divin.style="background-color:#F0E68C;width:100%;word-wrap: break-word;text-align:center;";
			if(schema=="AES"){decrypted = CryptoJS.AES.decrypt({ciphertext: message}, key1, {iv: iv1,padding:CryptoJS.pad.NoPadding,mode:CryptoJS.mode.CBC});
			console.log(decrypted);}
			else if(schema=="DES"){
			decrypted = CryptoJS.DES.decrypt({ciphertext: message}, key1, {iv: iv1,padding:CryptoJS.pad.NoPadding,mode:CryptoJS.mode.CBC});
			console.log(decrypted);
			}
			else if(schema=="DES-EDE3"){
			decrypted = CryptoJS.TripleDES.decrypt({ciphertext: message}, key1, {iv: iv1,padding:CryptoJS.pad.NoPadding,mode:CryptoJS.mode.CBC});
			console.log(decrypted);
			}
			<!--var image = new Image();-->

			var out1=CryptoJS.enc.Base64.stringify(decrypted);
			if(last3=="png"){
			var image = new Image();
			image.src="data:image/png;base64,"+out1;
			image.style="border: 10px solid transparent;";
			console.log(out1);

			divin.appendChild(image);
			document.getElementById(x1).appendChild(divin);
			console.log(image);
			}
			else if(last3=="txt"){
			var image1 = document.createElement('p');
			var words = CryptoJS.enc.Base64.parse(out1);
			var textS= CryptoJS.enc.Utf8.stringify(words);
			image1.innerText=textS;
			divin.appendChild(image1);
			document.getElementById(x1).appendChild(divin);
			console.log(image1);
			}
			else if(last3=="mp4"){
			var video= document.createElement('video');

			video.src="data:video/mp4;base64,"+out1;
			video.autoplay = false;
			video.controls = true;
			video.style="max-width:100%;";
			divin.appendChild(video);
			document.getElementById(x1).appendChild(divin);

			}}
			else {
			console.log("ok1");
			alert("You are rendering a directory but it is not going to be rendered.");
			}
			//  var lol= document.createElement('p');
			//	 lol.innerHTML=data[i].docfile;
			//	 document.body.appendChild(lol);
			//	 console.log(data[i].docfile,Utf8);
			<!--}-->

			}).catch(err => {
      // Do something for an error here
      });

      request.send();
      };

      document.getElementById("contain").appendChild(lol);
      console.log(lol.id);
      }
      }).catch(err => {
      // Do something for an error here
      });

      request.send();

      }}
      document.getElementById('schema').onclick= function(){
      var request = new XMLHttpRequest();


      request.open('GET', 'http://192.168.43.133:8000/api/listfile.json/', true);

      fetch('http://192.168.43.133:8000/api/listfile.json').then(response => {
  console.log(response.data);
  return response.json();
  }).then(data => {


      if((data.length) != 0){
      if(1==1){
      console.log(data[0]["schema"]);
      <!--alert("The schema can't be changed.");-->
      schema=data[0]["schema"];
      document.getElementById('schema').value=data[0]["schema"];
          }
      }
      }).catch(err => {
      });
      request.send();

      };
      <!--schema=document.getElementById('schema').value;-->
      document.getElementById('key').onchange= function(){
      key=document.getElementById('key').value;
      var request = new XMLHttpRequest();


      request.open('GET', 'http://192.168.43.133:8000/api/listfile.json/', true);

      fetch('http://192.168.43.133:8000/api/listfile.json').then(response => {
  console.log(response.data);
  return response.json();
  }).then(data => {


      if((data.length) != 0){
      if(1==1){
      console.log(data[0]["schema"]);
      <!--alert("The schema can't be changed.");-->
      schema=data[0]["schema"];
      document.getElementById('schema').value=data[0]["schema"];
          }
      }
      }).catch(err => {
      });
      request.send();
      };
      document.getElementById('iv').onchange= function(){
      iv=document.getElementById('iv').value;
      };

      document.getElementById("show").addEventListener('click', myfunction);
      <!--document.getElementById('key-input').onchange= function(){-->
      <!--var file=this.files[0];-->
      <!--var reader=new FileReader();-->
      <!--reader.onload=function(progressEvent){-->
        <!--console.log(this.result);-->
        <!--var lines=this.result.split('\n');-->
        <!--schema=lines[0];-->
        <!--if(schema=="AES"){-->
          <!--key=lines[1];-->
          <!--iv=lines[2];-->

        <!--}-->
        <!--if(schema=="DES"){for(var line =1;line<lines.length;line++){-->
          <!--key=lines[1];-->
          <!--iv=lines[2];-->
        <!--}}-->
        <!--else if(schema=="3DES"){for(var line =1;line<lines.length;line++){-->
          <!--key=lines[1];-->
          <!--iv=lines[2];-->

        <!--}}-->
      <!--};-->
      <!--reader.readAsText(file);-->
      <!--};-->


</script>
<!--<p>{{ django.contrib.auth.context_processors.auth.user.id } }</p>-->

<p>

  <a href="{% url 'logout' %}">Logout</a></p>
{% else %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Int_elegance</a>
</nav>
<br>

<div class="wrapper" style="margin-left: 25px;font-size:175%">
<a href="{% url 'login' %}">Login Here</a>
</div>
<br>
<br>
<br>

<!--<p>Or Create New User</p>-->
<div class="wrapper" style="margin-left: 25px;font-size:175%"><a href="{% url 'signup' %}">Signup Here</a>
</div>{% endif %}
{% endblock %}